:root {
  --color-header:#104046;
  --color-placeholder: #005D5C;
}

html,
button,
::placeholder {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-header);
}

::placeholder {
  color: var(--color-placeholder);
}