.cvDisplay {
  box-sizing: border-box;
  width: 80%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "sidebar main";
  box-shadow: 0px 0px 1em black;
  padding: 1em;
  margin: 1em;
}