.educationDisplay h2 {
  border-top: 1px solid var(--color-header);
  border-bottom: 1px solid var(--color-header);
}

.educationDisplay--item {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
    "fromTo university"
    "fromTo location"
    "fromTo degreeSubject";
  gap: 1em;
  margin: 1em;
}

.educationDisplay--item > * {
  margin: 0;
}

.educationDisplay__university {
  grid-area: university;
}

.educationDisplay__location {
  grid-area: location;
}

.educationDisplay__degreeSubject {
  grid-area: degreeSubject;
}

.educationDisplay__fromTo {
  grid-area: fromTo;
  justify-self: end;
}

.educationDisplay__university,
.educationDisplay__fromTo {
  font-weight: bold;
}