:root {
  --color-header:#104046;
  --color-placeholder: #005D5C;
}

.personalInformationInput {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.personalInformationInput__photo {
  margin-top: 1em;
}

.personalInformationInput__photo label {
  color: var(--color-placeholder);
  padding-left: 1em;
}

.personalInformationInput__photo input {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;  
}

