.sidebar {
  grid-area: sidebar;
  background-color: var(--color-header);
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar__skill h2,
h3,
a {
  color: white;
}


.sidebar__location,
.sidebar__phone,
.sidebar__email,
.sidebar__skill h2 {
  border-bottom: 1px solid white;
}

.sidebar__skill h2 {
  border-top: 1px solid white;
}